body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  color: #333;
}

#menu-container {
  text-align: center;
  padding: 15px;
  background-color: #ffffff;
  border-bottom: 2px solid #d8d8d8;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
}

button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
  transition: background-color 0.3s, box-shadow 0.3s;
}

button:hover {
  background-color: #0056b3;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

input[type="file"] {
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

#canvas-container {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #f9f9f9;
}

#main-canvas {
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

/* Anpassungen für kleinere Bildschirme */
@media (max-width: 768px) {
  #menu-container {
    flex-direction: column;
  }

  button {
    width: 100%;
    margin-top: 10px;
  }

  #canvas-container {
    padding: 10px;
  }
}
