@font-face {
    font-family: "Montserrat Regular";
    src: url("../frontend/fonts/Montserrat-Regular.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Montserrat Bold";
    src: url("../frontend/fonts/Montserrat-Bold.ttf") format("truetype");
  }

/* login.css */
body {
    font-family: Montserrat Regular, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

p {
    text-align: center;
    font-weight: bold;
}

.login-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo {
    display: block;
    margin: 0 auto 0px auto;
    width: 150px; /* Passen Sie die Größe nach Bedarf an */
}

form {
    display: flex;
    flex-direction: column;
}

input[type="password"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #004494;
}
