body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}


/* Stil für das übergeordnete div-Element, das das Formular und den Button umfasst */
.form-container {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

/* Stil für das Suchformular innerhalb des Flex-Containers */
.form-container form {
    margin: 0; /* Entfernt eventuelle Standardmargen */
}

form {
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  margin-right: 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
  flex-grow: 5;
  width: auto;
}

input[type="submit"] {
  padding: 10px 20px;
  background-color: #007bff;
  font-size: 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  flex-grow: 1;
  width: auto;
}

.new-icon {
  padding: 10px 20px;
  background-color: #28a745;
  font-size: 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  flex-grow: 1;
  width: auto;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  text-align: left;
  padding: 8px;
}

th {
  background-color: #007bff;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

@media screen and (max-width: 600px) {
  input[type="text"] {
    width: 100%;
    margin-bottom: 10px;
  }

  input[type="submit"] {
    width: 100%;
  }
}

.hidden {
    display: none;
}




/* Modal-Stil Neuer Mitarbeiter */
.modal {
  display: none; 
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1000;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border-radius: 10px;
  width: 40%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#newEmployeeForm label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  color: #333;
}

#newEmployeeForm input[type='text'],
#newEmployeeForm input[type='date'],
#newEmployeeForm select {
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
  width: 100%;
  box-sizing: border-box;
}

#newEmployeeForm select {
  cursor: pointer;
}

#newEmployeeForm input[type='submit'] {
  margin-top: 20px;
  padding: 12px 20px;
  font-size: 25px;
  background-color: #28a745; /* Grüner Farbton */
  color: white;
  font-weight: bold; /* Schrift fetter machen */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
  transition: background-color 0.3s ease; /* Animation beim Hovern hinzufügen */
}

#newEmployeeForm input[type='submit']:hover {
  background-color: #218838; /* Dunklerer Grünton beim Hovern */
}

#newEmployeeForm input[type='file'] {
  margin-top: 10px;
  padding: 10px;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  width: 100%;
}

.image-preview {
  margin-top: 10px;
  width: 100%;
  height: 150px;
  border: 1px solid #ddd;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #fafafa;
}

.image-preview img {
  max-width: 100%;
  max-height: 100%;
}
